$bg:#6c7b2a;
$road: #817f84;

body{
	margin: 0;
	display: flex;
	justify-content: center;
	background: $bg;
	overflow: hidden;
}

.road{
	background: $road;
	width: 300px;
	height: 100vh;
}
.car{
		position: absolute;
		width: 75px;
		transform: translateY(75vh);
}
.tree{
	position: absolute;
	z-index: 10;
}
.tree-1{
	transform: translate(-220px,-15vh);
	width: 240px;
}
.tree-2{
	transform: translate(-240px,25vh);
	width: 300px;
}
.tree-3{
	transform: translate(-200px,70vh);
	width: 230px;
}
.tree-4{
	transform: translate(240px,-5vh);
	width: 280px;
}
.tree-5{
	transform: translate(200px,40vh);
	width: 240px;
}
.tree-6{
	transform: translate(210px,80vh);
	width: 270px;
}

.button{
	position: fixed;
	right: 10px;
	top: 10px;
	background: transparent;
	border: none;
	padding: 0;
	cursor: pointer;
	transition: transform .3s ease;
	z-index: 20;
	img{
width: 60px;
height: 60px;
	}
	&__play{
		display: none;
	}
}
.button:hover{
	transform: scale(1.2);
}

.arrow{
	position: absolute;
	width: 50px;
	transform: translate(-50px,-300px);
}
.coin{
	position: absolute;
	width: 50px;
	transform: translate(50px,-100px);
}
.danger{
	position: absolute;
	width: 80px;
	transform: translate(100px,-250px);
}

.game-score{
	position: absolute;
	width: 50px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	top: 10px;
	left: 10px;
	background: rgb(204, 60, 60);
	font-size: 26px;
	border-radius: 50%;
}
.finish-game {
	display: none;
	position: absolute;
	z-index: 50;
	background: rgba(0,0,0,0.75);
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	&__container {
		padding: 5px 8px;
		border-radius: 8px;
		background: white;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		width: 350px;
	}
	&__text{
		display: flex;
		align-items: center;
		font-size: 20px;
	}
	&__button {
		border:none;
		border-radius: 8px;
		color: white;
		background: rgba(142,12,83);
		font-size: 20px;
		padding: 2px 25px;
		cursor: pointer;
	}
}
.finish-game__button:hover{
	transform: scale(1.2);
}
.finish-game__text::before,
.finish-game__text::after{
	content: '\f7a9';
	font: var(--fa-font-solid);
	display: block;
	margin-left: 10px;
	font-size: 35px;
	animation: ease .3s jump infinite;
	animation-direction: alternate;
}
.finish-game__text::before{
	animation-delay: .1s;
	margin-right: 10px;
}

.finish-game__text{
	span{
		color: red;
		margin-left: 10px;

	}
}

@keyframes jump{
	from{
		transform: translateY(10px)
	}
	to{
		transform: translateY(0);
	}
}