$bg:#6c7b2a;
$road: #817f84;

body{
	margin: 0;
	display: flex;
	justify-content: center;
	background: $bg;
	overflow: hidden;
}

.road{
	background: $road;
	width: 300px;
	height: 100vh;
}
.car{
		position: absolute;
		width: 75px;
		bottom: 0;
}
.tree{
	position: absolute;
}
.tree-1{
	transform: translate(-220px,-15vh);
	width: 240px;
}
.tree-2{
	transform: translate(-240px,25vh);
	width: 300px;
}
.tree-3{
	transform: translate(-200px,70vh);
	width: 230px;
}
.tree-4{
	transform: translate(240px,-5vh);
	width: 280px;
}
.tree-5{
	transform: translate(200px,40vh);
	width: 240px;
}
.tree-6{
	transform: translate(210px,80vh);
	width: 270px;
}

.button{
	position: fixed;
	right: 10px;
	top: 10px;
	background: transparent;
	border: none;
	padding: 0;
	cursor: pointer;
	transition: transform .3s ease;
	img{
width: 60px;
height: 60px;
	}
	&__play{
		display: none;
	}
}
.button:hover{
	transform: scale(1.2);
}

.arrow{
	position: absolute;
	width: 50px;
}
.coin{
	position: absolute;
	width: 50px;
}
.danger{
	position: absolute;
	width: 80px;
}
